---
title: Kajigs Template
slug: kajigstemplate
---


:::note
This relies on you being under version X. See [Kernel Versions](/kajigs/kernverinfo).
:::

1. Step 1
2. Step 2 (refer to warning at [here](/warning))
3. Step 3
```txt
codeblock to assist step 3
```

4. Step 4

<img width="200px" src="https://raw.githubusercontent.com/titaniumnetwork-dev/Ultraviolet-Static/main/public/uv.png"></img>

:::note
BE VERY CAREFUL WITH THIS STEP! ___ WILL RESULT IN A BRICK!
:::
