---
title: title
description: brief description listing required versions
author: author or organization
keywords: ["type", "kernver * / any kernver"]
link: https://github.com/FWSmasher/Cryptosmite
kernver: 2
unenrollment: true (optional field, does not need to be set to false.)
---

import PageHeader from "/src/components/PageHeader.astro";

<PageHeader title={frontmatter.title} description={frontmatter.description} author={frontmatter.author} link={frontmatter.link} kernver={frontmatter.kernver} nolower={frontmatter.nolower}/>

### Requirements
1. any items needed or urls unblocked

### Steps
1. step
2. step with note
    :::note
    note for step 2
    :::
3. step with codeblock
    ```
    code
    ```
4. step with substeps
    - substep